<%- include("partials/header") -%>
<div class="container homepage">
  <div class="container homepage-search-area">
    <form action="/" method="post">
      <h1>SEARCH YOUR FAVORITE MOVIE</h1>
      <div class="butn-div">
        <input
          class="movieSearch"
          type="text"
          name="movieName"
          maxlength="30"
          required
          placeholder="<%= thirdMovieTitle %>.."
        />
        <button class="btn butn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>

  <hr class="navbar-horizon" />

  <div class="container-fluid homepage-middle">
    <div class="row">
      <div class="col movie-cards">
        <h2><%= movieTitle %></h2>
        <p><%= moviePlot %></p>
        <div class="image-div">
          <img
            class="movie-img"
            src="<%= moviePoster %>"
            alt="<%= movieTitle %>"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
      <div class="col movie-cards">
        <h2>The Twilight Saga</h2>
        <p>
          When Bella Swan moves to a small town in the Pacific Northwest, she
          falls in love with Edward Cullen, a mysterious classmate who reveals
          himself to be a 108-year-old vampire.
        </p>
        <div class="image-div">
          <img
            class="movie-img"
            src="https://m.media-amazon.com/images/M/MV5BMTQ2NzUxMTAxN15BMl5BanBnXkFtZTcwMzEyMTIwMg@@._V1_SX300.jpg"
            alt="Twilight"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col movie-cards">
        <h2><%= secondMovieTitle %></h2>
        <p><%= secondMoviePlot %></p>
        <div class="image-div">
          <img
            class="movie-img"
            src="<%= secondMoviePoster %>"
            alt="<%= secondMovieTitle %>"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>

      <div class="col movie-cards">
        <h2><%= thirdMovieTitle %></h2>
        <p><%= thirdMoviePlot %></p>
        <div class="image-div">
          <img
            class="movie-img"
            src="<%= thirdMoviePoster %>"
            alt="<%= thirdMovieTitle %>"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
