<%- include("partials/header") -%>
<div class="container homepage">
  <div class="container homepage-search-area">
    <form action="/" method="post">
      <h1>SEARCH YOUR FAVORITE MOVIE</h1>
      <div class="butn-div">
        <input
          class="movieSearch"
          type="text"
          name="movieName"
          maxlength="30"
          required
          placeholder="<%= movieTitle %>.."
        />
        <button class="btn butn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>

  <hr class="navbar-horizon" />

  <div class="container-fluid homepage-middle">
    <div class="row">
      <div class="col first-movie">
        <h2>Wednesday</h2>
        <p style="display: inline-block">
          Follows Wednesday Addams' years as a student, when she attempts to
          master her emerging psychic ability, thwart and solve the mystery that
          embroiled her parents.
        </p>
        <div class="image-div">
          <img
            class="movie-img"
            src="https://m.media-amazon.com/images/M/MV5BM2ZmMjEyZmYtOGM4YS00YTNhLWE3ZDMtNzQxM2RhNjBlODIyXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_SX300.jpg"
            alt="Wednesday"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
      <div class="col first-movie">
        <h2>The Twilight Saga</h2>
        <p style="display: inline-block">
          When Bella Swan moves to a small town in the Pacific Northwest, she
          falls in love with Edward Cullen, a mysterious classmate who reveals
          himself to be a 108-year-old vampire.
        </p>
        <div class="image-div">
          <img
            class="movie-img"
            src="https://m.media-amazon.com/images/M/MV5BMTQ2NzUxMTAxN15BMl5BanBnXkFtZTcwMzEyMTIwMg@@._V1_SX300.jpg"
            alt="Twilight"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col second-movie">
        <h2>Harry Potter</h2>
        <p style="display: inline-block">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in
          their effort to destroy the Dark Lord as the final battle rages on at
          Hogwarts.
        </p>
        <div class="image-div">
          <img
            class="movie-img"
            src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"
            alt="Harry Potter"
          />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>

      <div class="col second-movie">
        <h2><%= movieTitle %></h2>
        <p style="display: inline-block"><%= moviePlot %></p>
        <div class="image-div">
          <img class="movie-img" src="<%= moviePoster %>" alt="Twilight" />
          <i class="fa-solid fa-circle-play" id="play"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
