<%- include("partials/header") -%>

<div class="container homepage">
  <form action="/" method="post">
    <h1>SEARCH YOUR FAVORITE MOVIE</h1>
    <input class="movieSearch" type="text" name="movieName" />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>

<hr />

<div class="container movies-information">
  <h1><%= movieTitle %> || <%= movieImbd %></h1>
  <br />
  <p><%= moviePlot %></p>

  <div class="row">
    <img
      src="<%= moviePoster %>"
      alt="<%= movieTitle %>"
      style="width: 500px; height: 500px; display: inline-block"
    />
    <div class="col information">
      <h4>Year: <span><%= movieYear %></span></h4>
      <h4>Genre: <span><%= movieGenre %></span></h4>
      <h4>Language: <span><%= movieLanguage %></span></h4>
      <h4>Actors: <span> <%= movieActors %> </span></h4>
      <h4>Director: <span><%= movieDirector %></span></h4>
      <h4>Awards: <span><%= movieAwards %></span></h4>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
