<%- include("partials/header") -%>

<div>
    <h1><%= movieTitle %> Hellomy</h1>
    <br>
    <%= moviePlot %>
</div>
<div style="width: 500px ; height: 500px;">
    <%= moviePoster %>
</div>


<%- include("partials/footer") -%>